<h3>Please use this form to edit the cat that you have selected.</h3>
<div class="container">

<form method="post" action="/cats/<%= @cat.id %>" >
  <label for="arrival-date-field">Arrival Date:</label>
  <input
  type="date"
  name="arrival_date"
  id="arrival-date-field"
  value="<%= @cat.arrival_date %>">
  <br>

  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @cat.name %>">
  <br>

  <label for="type-field">Type:</label>
  <input
  type="text"
  name="type"
  id="type-field"
  value="<%= @cat.type %>">
  <br>

  <label for="adopted-selection">Adopted:</label>
    <select
    name="adopted"
    id="adopted-selection"
    value="<%= @cat.adopted %>">
      <option value="For adoption">For Adoption</option>
      <option value="Adopted">Adopted</option>
    </select>
  <br>

  <label for="picture-selection">Picture Selection:</label>
  <select name="picture"
  id="picture-selection"
  value="@cat.picture">
    <option value="/images/generic_cat.jpg">Generic Picture</option>
  </select>
  <br>

  <label for="owner-selection">Owner Selection:</label>
  <select name="owner"
   id ="owner-selection"
   value="<%= @cat.owner_id %>"
    required>
    <% @owners.each do |owner| %>
    <option value="<%= owner.id %>" selected="Cat Shelter"><%= owner.name %></option>
    <% end %>
  </select>
  <br>

  </div>
<input class="green" type="submit" value="Edit Cat">

</form>
