<p>Name: <%= @cat.name %></p>
<p>Arrival date: <%= @cat.arrival_date %></p>
<img class="imageblock" src="<%= @cat.picture %>" alt="picture of cats" height="200px" width="200px">
  <% if @cat.adopted == 'adopted' %>
    <p class="red rye_font">Status: Adopted</p>
  <% elsif @cat.adopted == 'for adoption' %>
    <p class="green baskerville_font">Status: For adoption</p>
  <% end %>
  <p><a href="/cats/<%= @cat.id %>/edit">Edit Cat</a></p>
  <form method="post" action="/cats/<%= @cat.id %>/delete">
    <input type="submit" value="Delete cat">
  </form>
